@model System.String

@{
    ViewBag.Title = "Scores";
}

<style>
    .score-panel {
        background-color: #003358;
        color: white;
    }
</style>

<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdraw.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxchart.core.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdata.js"></script>

<script>
    $(document).ready(function () {
        var test = @Html.Raw(Json.Encode(Model));
        var json = JSON.parse(test);
        alert(JSON.stringify(json));
    })
</script>

<h2>Personality Scores</h2>

<div>
    <!--<h4>Account</h4>

    <p>
        Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        Html.ActionLink("Back to List", "Index")
    </p>
        -->
</div>

<style>
    .score-panel {
        padding: 5px 10px 5px 10px;
        margin: 5px 10px 5px 10px;
        border: 1px solid #e1e1e8;
        border-radius: 3px;
    }
</style>
