
@{
    ViewBag.Title = "Upload Dictionary";
}

<h2>Upload Dictionary</h2>

<form id="form" method="post" enctype="multipart/form-data" class="w3-form">
    <input type="file" name="file" id="file" class="w3-input" />
    <input type="submit" class="w3-btn" style="top:1em" />
</form>