@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site uses your Facebook profile to predict your personality by taking your entire post history, running it through LIWC, and giving scores to each of your personality traits.</p>
