@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Auburn University<br />
    Auburn, AL 36849<br />
    <abbr title="Phone">P:</abbr>
    334.844.4000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bjp0008@auburn.edu">bjp0008@auburn.edu</a><br />
</address>