@{
    ViewBag.Title = "Home Page";
}
<script>
</script>

<div class="jumbotron">
    <h1>Personality Prediction</h1>
    <div id="FBName"></div>
    <p class="lead">This is a very early demo showing that we can pull a user's posts from Facebook.</p>
</div>

@{
    if (User.Identity.IsAuthenticated)
    {
    <div class="row">
        <div class="col-md-4">
            <h2>Download User Posts</h2>
            <p>
                Go here to download your Facebook posts as a TXT file.
            </p>
            <p><a class="btn btn-default" href="~/Home/PostRetrieval">Click Here &raquo;</a></p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    }
}