@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        background-color: #003358;
        color: white;
        height: 300px;
        text-align: center;
    }
    .index_grid {
        cursor: pointer;
        text-align: center;
        color: white;
    }
    #ScoredJumbo {
        background-color: #e05e00;
    }
    #ScoredTextJumbo {
        background-color: #00837b;
    }
    #WelcomeJumbo {
        cursor: initial;
    }
    #ProfileJumbo {
        background-color: #069300;
    }
    #DictionaryUploadJumbo {
        background-color: #69005e;
    }
    .col-md-4 {
        border-radius: 10px;
    }
    
    .changeImage {display:none}
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
</style>
<script>
    $(document).ready(function () {
        $("#ScoredJumbo").click(function () {
            window.location.href = "/Home/PostRetrieval";
        });

        $("#ProfileJumbo").click(function () {
            window.location.href = "/Users/Details?id=@ViewBag.id";
        });

        $("#ScoredTextJumbo").click(function () {
            window.location.href = "/Home/FileUpload";
        });

        $("#Privacy").click(function () {
            window.location.href = "/Home/PrivacyPolicy";
        });

        $("#Terms").click(function () {
            window.location.href = "/Home/Terms";
        });

        $("#DictionaryUploadJumbo").click(function () {
            window.location.href = "/Dictionaries/Upload";
        });
    });
</script>

<div class="w3-content w3-display-container" style="position:relative">
    <div class="jumbotron w3-display-container changeImage w3-animate-opacity" id="WelcomeJumbo">
        <h1>Welcome!</h1>
        <p id="welcomeText" class="lead">This demo will show that we can use our own API to get category scores.</p>
    </div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#welcomeText").html("Use the arrows and dots below to view all of the current modules!");
                });
            </script>

            <div class="jumbotron w3-display-container changeImage w3-animate-opacity" id="ScoredJumbo">
                <h1>Get Facebook Profile Scored</h1>
                <p class="lead">Click Here to get scored with your Facebook posts!</p>
            </div>

            <div class="jumbotron w3-display-container changeImage w3-animate-opacity" id="ScoredTextJumbo">
                <h1>Get Text File Scored</h1>
                <p class="lead">Click Here to get scored with a text file!</p>
            </div>

            <div class="jumbotron w3-display-container changeImage w3-animate-opacity" id="ProfileJumbo">
                <h1>View Profile</h1>
                <p class="lead">Click Here to view your scores!</p>
            </div>

            <div class="jumbotron w3-display-container changeImage w3-animate-opacity" id="DictionaryUploadJumbo">
                <h1>Upload Dictionary</h1>
                <p class="lead">Click Here to upload a new dictionary!</p>
            </div>

            <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%">
                <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge changePageDot w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge changePageDot w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge changePageDot w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                <span class="w3-badge changePageDot w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                <span class="w3-badge changePageDot w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
            </div>
        }
    }

</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("changeImage");
        var dots = document.getElementsByClassName("changePageDot");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }
</script>

<div class="row w3-animate-bottom" style="width:100%;">
    <div class="col-md-4" style="background-color: #003358">
        <div class="index_grid" id="Terms">
            <h2>Terms and Conditions</h2>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4" style="background-color: #ff6a00">
        <div class="index_grid" id="Privacy">
            <h2>Privacy Policy</h2>
        </div>
    </div>
</div>