
@{
    ViewBag.Title = "PrivacyPolicy";
}

<h2 style="padding-top:1em;">Privacy Policy</h2>

<h3>Information Gathered</h3>
<p>
    We (Dr. Fan and the Auburn University Psychology Department) collect your email in association with
    your account. With the Facebook integration, we use your Facebook login to authenticate you and we
    collect your personal status updates (“posts”). However, your posts are not saved, nor is any of your
    login information.
</p>

<h3>Information Stored</h3>
<p>
    We store the email you provided upon registering for an account with us. In addition, once you have 
     your posts for analysis, we will store the results of your most recent analysis.
</p>

<h3>Information Usage</h3>
<p>
    The results of your analysis may be used in research performed by Dr. Fan and the Auburn University 
    Psychology Department. Your information will not be shared with any third party not associated with 
    Dr. Fan or the Auburn University Psychology Department.
</p>

<h3>Changes</h3>
<p>
    The contents of this Privacy Policy are subject to change. In the event that a change is made,
    we will try to contact you 30 days before the change in order to make you aware of the changes.
</p>