
@{
    ViewBag.Title = "Terms";
}


<h2 style="padding-top:1em">Terms and Conditions ("Terms")</h2>
<p>Last updated: 11/27/16</p>
<p>
Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.auburnpersonalityprediction.azurewebsites.net website operated by Dr. Fan and the Auburn University Psychology Department ("us", "we", or "our").
Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
</p>

<h3>Termination of Service</h3>
If you decide at any time that you would no longer like for us to store the results of your analysis, you may contact us in order to request that your information be removed from our system. In such a situation, your registration will be removed along with any information associated with the account.

<h3>Links To Other Web Sites</h3>
Our Service may contain links to third­party web sites or services that are not owned or controlled by us.
We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

<h3>Changes</h3>
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

<h3>Contact Us</h3>
If you have any questions about these Terms, please contact us. *Put Contact Us page link here*